
body {
  background-color: #112233;
}

#cardContainer {
  background: #112233;
}

#checkmark {
 color: green;
 font-size: 32px;
}

#xmark {
  color: red;
  font-size: 28px;
}

#button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#chatDat {
  margin-bottom: 5px
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}